doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    title Ajax with MongoDB

  body
    block content

    //- Need to pull in jQuery and our public js file
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="/main.js")

